<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 1. 扫描注解@controller -->
    <context:component-scan base-package="com.ztom.controller"/>

    <!-- 2. 注解驱动,自动加载映射器和适配器 -->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!-- 3. 创建视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 4. 放行静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 5. 自定义类型转换器 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.ztom.converter.String2Date"/>
            </set>
        </property>
    </bean>

    <!-- 6. 拦截器 -->
</beans>